.banner-container {
  position: relative;
  width: 100%;
  height: 900px; /* Defina a altura desejada */
  max-width: 100%;
}

.banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  z-index: 1; /* Mantém o gradiente acima da imagem */
}

.banner-container img {
  object-fit: cover;
  width: 100%;
  height: 900px;
  position: relative;
  z-index: 0; 
}
