.discord-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    height: 100vh; 
    padding: 20px;
}

.discord-container h4 {
    background-color: #955FFF;
    font-size: 1vw; 
    font-weight: bold;
    color: white; 
    padding: 10px 4vw;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 20px; 
    margin-top: 20px;
}


.discord img {
    width: 50vw; 
    max-width: 80%; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    h1 {
        font-size: 3vw; 
    }

    .discord img {
        width: 120vw; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3vw;
    }

    .discord img {
        width: 100vw;
    }
}

.discord-degrade {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100vw; 
    min-height: 100vh; 
    background-image: url("../../img/Degrade.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.discord-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .discord-text.animate__animated {
    opacity: 1;
  }
  