body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'CodeBold';
  src: url('../fonts/codebold.otf');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'CodeBold';
}


code {
  font-family: 'code-bold',
    monospace;
}
 